.recipes-list{
    .card{  
        margin-bottom: 35px;    
        
        &-text{
            height: 50px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.625;      
        }

        > img{
            max-height: 200px;
        }
    }
}