@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');

.container{
	padding: 50px 0;
}

.action-btns
{
	border-top: 1px solid #eee;
	margin-top: 50px;

	.btns{
		padding-top: 8px;
	}
}

.top-btns{
	margin-bottom: 20px;
}

.action-btns,
.top-btns
{

	.btns
	{
		text-align: right;

		.btn
		{
			margin-left: 5px;
		}		
	}
}

.section-title{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 50px;

}

.thumbnail{
	height: 200px;
	background: #f5f5f5;	
	position: relative;
	
	&:after{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 45%;
		text-align: center;
		content: "No Image";
		opacity: 0.5;
	}
}

.page
{
	&-view
	{
		label
		{
			color: #707070;
			font-size: 13px;
			margin-bottom: 0;
		}

		.recipe
		{
			&-img
			{
				img
				{
					margin: 0 auto;
				}
			}

			&-content
			{
				margin-top: 50px;
			}

			&-intro
			{
				h1
				{
					font-family: 'Playfair Display', serif;
					font-weight: bold;
				}
			}

			&-desc
			{
				margin-bottom: 30px;
			}

			&-instructions
			{
				label
				{
					color: inherit;
					font-size: inherit;
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}
}