form{
    .field{
        &-checkbox{
            position: relative;

            .custom-switch{
                position: absolute;
                bottom: 8px;
                left: 10px;
            }
        }

        &-select{
            &.is-invalid{
                .rs__control{
                    border-color:#dc3545;
                }    
            }
        }

        &-text{
            font-weight: bold;
        }

        &-text-area{
            textarea{
                height: 150px;
                resize: none;    
            }
        }

    }
    
    .invalid-feedback{
        display: block;
    }
   
    .list-item{
        border-top: 1px solid #eee;
        padding-top: 20px;
        padding-bottom: 20px;
    
        &:first-child{
            border-top: none;
        }
    }
    

}