.okto-loader{
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;

  &-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 57px;
    width: 57px;

    & > span{
      background-color: #fff;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin: 2px;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      display: inline-block;
      float: left;
      -webkit-animation-name: ball-grid-beat;
              animation-name: ball-grid-beat;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0;
              animation-delay: 0;
    }

    & > span:nth-child(1){
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
      -webkit-animation-duration: 1.19s;
              animation-duration: 1.19s; 
    }
    & > span:nth-child(2){
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
      -webkit-animation-duration: 1.55s;
              animation-duration: 1.55s; 
    }
    & > span:nth-child(3){
      -webkit-animation-delay: 0.39s;
              animation-delay: 0.39s;
      -webkit-animation-duration: 1.22s;
              animation-duration: 1.22s; 
    }
    & > span:nth-child(4){
      -webkit-animation-delay: 0.65s;
              animation-delay: 0.65s;
      -webkit-animation-duration: 1.29s;
              animation-duration: 1.29s; 
    }
    & > span:nth-child(5){
      -webkit-animation-delay: 0.29s;
              animation-delay: 0.29s;
      -webkit-animation-duration: 1.39s;
              animation-duration: 1.39s; 
    }
    & > span:nth-child(6){
      -webkit-animation-delay: -0.09s;
              animation-delay: -0.09s;
      -webkit-animation-duration: 1.38s;
              animation-duration: 1.38s; 
    }
    & > span:nth-child(7){
      -webkit-animation-delay: 0.47s;
              animation-delay: 0.47s;
      -webkit-animation-duration: 0.63s;
              animation-duration: 0.63s; 
    }
    & > span:nth-child(8){
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s;
      -webkit-animation-duration: 0.88s;
              animation-duration: 0.88s;
    }
    & > span:nth-child(9){
      -webkit-animation-delay: 0.64s;
              animation-delay: 0.64s;
      -webkit-animation-duration: 0.91s;
              animation-duration: 0.91s; 
    }
  }
}


@keyframes ball-grid-beat{
  50%{
    opacity: 0.7; 
  }
  100%{
    opacity: 1; 
  } 
}
